<%- include("templateP3k/head") %>
<div class="card shadow mt-3 mx-3">
  <div class="card-header">
    <h3 class="card-title fw-bolder text-capitalize m-0">
      Data Laporan Alat Evakuasi
    </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered hover align-middle"
        id="tableLaporanAlatEvakuasi"
      >
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th>Tanggal Inspeksi</th>
            <th class="text-center">Data</th>
            <th>Inspektor</th>
            <th class="text-center">Action</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% for( const laporan of laporans) { %>
          <tr class="text-nowrap">
            <td class="text-center"></td>
            <td>
              <%=
              `${("0"+laporan.tanggalInspeksi.getDate()).slice(-2)}-${("0"+(laporan.tanggalInspeksi.getMonth()+1)).slice(-2)}-${laporan.tanggalInspeksi.getFullYear()}`
              %>
            </td>
            <td class="text-center">
              <div class="modal fade" id="data<%= laporan._id %>" tabindex="-1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Data Laporan Alat Evakuasi Korban</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table
                            class="table table-bordered text-start mb-0"
                            >
                            <tbody>
                                <tr>
                                    <td class="w-50" colspan="2">
                                      <label for="tanggal" class="form-label fw-bolder"
                                          >1. Tanggal Inspeksi :</label
                                      >
                                      <input type="text" readonly class="form-control"
                                      id="tanggal" value="<%=
                                      `${("0"+laporan.tanggalInspeksi.getDate()).slice(-2)}-${("0"+(laporan.tanggalInspeksi.getMonth()+1)).slice(-2)}-${laporan.tanggalInspeksi.getFullYear()}`
                                      %>">
                                    </td>
                                </tr>
                                <tr>
                                  <td class="w-50">
                                    <label for="namaKorban" class="form-label fw-bolder"
                                        >2. Nama Inspektor :</label
                                    >
                                    <input
                                        type="text"
                                        readonly
                                        class="form-control"
                                        id="namaKorban"
                                        value="<%= laporan.inspektor.nama %>"
                                    />
                                  </td>
                                  <td>
                                    <label for="nip" class="form-label fw-bolder"
                                        >3. NRP/NIP :</label
                                    >
                                    <input
                                        type="text"
                                        readonly
                                        class="form-control"
                                        id="nip"
                                        value="<%= laporan.inspektor.nip %>"
                                    />
                                  </td>
                                </tr>
                                <tr>
                                    <td
                                    colspan="2"
                                    class="
                                        text-start text-uppercase
                                        fw-bolder
                                        fs-5
                                        w-50
                                    "
                                    >
                                    jenis alat evakuasi korban
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered  w-100 mb-0">
                                <thead  class="align-middle">
                                    <tr>
                                        <th rowspan="2">No</th>
                                        <th rowspan="2">Nama Alat Evakuasi Korban</th>
                                        <th rowspan="2">Letak Alat Evakuasi Korban</th>
                                        <th colspan="2">Jumlah</th>
                                    </tr>
                                    <tr>
                                        <th>Jumlah yang Tersedia</th>
                                        <th>Jumlah Maksimal</th>
                                    </tr>
                                </thead>
                                <tbody  class="align-middle">
                                    <tr>
                                      <td>1</td>
                                      <td rowspan="15">Tandu</td>
                                      <td>Lab. Elektronika Daya</td>
                                      <td><%= laporan.elektronikaDaya %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td>Lab. Pengembangan Bisnis Maritim dan Galeri Investasi</td>
                                      <td><%= laporan.pengbisMaritimDanInvestasi %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>3</td>
                                      <td>Lab. Navigasi dan Komunikasi</td>
                                      <td><%= laporan.navKom %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>4</td>
                                      <td>Lab. Logistik Maritim</td>
                                      <td><%= laporan.logistikMaritim %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>5</td>
                                      <td>Lab. CNC</td>
                                      <td><%= laporan.cnc %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>6</td>
                                      <td>Lab Pneumatik dan Hidrolik</td>
                                      <td><%= laporan.pneumatik %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>7</td>
                                      <td>Lab. Motor Bakar</td>
                                      <td><%= laporan.motorBakar %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>8</td>
                                      <td>Lab. CADD</td>
                                      <td><%= laporan.cadd %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>9</td>
                                      <td>Lab. Uji Bahan</td>
                                      <td><%= laporan.ujiBahan %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>10</td>
                                      <td>Lab. Pengolahan Limbah</td>
                                      <td><%= laporan.pengolahanLimbah %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>11</td>
                                      <td>Bengkel Reparasi Mesin</td>
                                      <td><%= laporan.reparasiMesin %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>12</td>
                                      <td>Bengkel Permesinan dan Sheet Metal (perkakas)</td>
                                      <td><%= laporan.permesinanSheetMetal %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>13</td>
                                      <td>Bengkel Las</td>
                                      <td><%= laporan.las %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>14</td>
                                      <td>Bengkel Kontruksi</td>
                                      <td><%= laporan.kontruksi %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>15</td>
                                      <td>Bengkel Non Metal</td>
                                      <td><%= laporan.nonMetal %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>16</td>
                                      <td rowspan="7">Kursi Roda</td>
                                      <td>Gedung J lantai 1</td>
                                      <td><%= laporan.gedungJ1 %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>17</td>
                                      <td>Gedung J lantai 2</td>
                                      <td><%= laporan.gedungJ2 %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>18</td>
                                      <td>Gedung J lantai 3</td>
                                      <td><%= laporan.gedungJ3 %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>19</td>
                                      <td>Gedung J lantai 4</td>
                                      <td><%= laporan.gedungJ4 %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>20</td>
                                      <td>Gedung J lantai 5</td>
                                      <td><%= laporan.gedungJ5 %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>21</td>
                                      <td>Gedung J lantai 6</td>
                                      <td><%= laporan.gedungJ6 %></td>
                                      <td>1</td>
                                    </tr>
                                    <tr>
                                      <td>22</td>
                                      <td>Gedung J lantai 7</td>
                                      <td><%= laporan.gedungJ7 %></td>
                                      <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th
                                        colspan="3"
                                        class="
                                            text-start text-uppercase
                                            fw-bolder
                                            fs-5
                                        "
                                        >
                                            Dokumentasi saat Inspeksi
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="align-middle">
                                      <td style="width: 33%;">
                                          <img src="/img/dokumentasiInspeksi/pelaporanKetersediaanKotaP3k/<%= laporan.dokumentasi[0] %>" alt="" class="img-fluid">
                                      </td>
                                      <td style="width: 33%;">
                                          <img src="/img/dokumentasiInspeksi/pelaporanKetersediaanKotaP3k/<%= laporan.dokumentasi[1] %>" alt="" class="img-fluid">
                                      </td>
                                      <td style="width: 33%;">
                                          <img src="/img/dokumentasiInspeksi/pelaporanKetersediaanKotaP3k/<%= laporan.dokumentasi[2] %>" alt="" class="img-fluid">
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#data<%= laporan._id %>"
                class="btn btn-primary"
              >
                Data
              </button>
            </td>
            <td><%= laporan.inspektor.nama %></td>
            <td class="text-center">
              <button class="btn btn-primary py-2 px-3">
                <i class="far fa-edit fs-5"></i>
              </button>
              <form
                action="/upik3/data-laporan-alat-evakuasi?_method=DELETE"
                method="POST"
                class="d-inline-block"
              >
                <input
                  class="d-none"
                  type="text"
                  name="idLaporan"
                  readonly
                  value="<%= laporan._id %>"
                />
                <button type="submit" class="btn btn-danger py-2 px-3">
                  <i class="far fa-trash-alt fs-5"></i>
                </button>
              </form>
              <button class="btn btn-secondary py-2 px-3">
                <i class="fas fa-file-download fs-5"></i>
              </button>
            </td>
            <td class="text-center">
              <form action="/upik3/data-laporan-alat-evakuasi?_method=PUT"
              method="POST"
              class="d-inline-block"
              >
                <input
                  class="d-none"
                  type="text"
                  readonly
                  name="idLaporan"
                  value="<%= laporan._id %>"
                />
                
                <button type="<%= !laporan.validasi.status && (currentUser.lokasi === laporan.lokasiP3k || currentUser.lokasi === "semua") ? "submit" : "button" %>" class="btn <%= laporan.validasi.status ? "btn-success" : "btn-danger" %>">
                  <%= laporan.validasi.status ? `Approved By ${laporan.validasi.user.nama}` : "Not Approved" %> 
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("templateP3k/footer") %>
