<%- include("templateP3k/head") %>
<div class="card shadow mt-3 mx-3">
  <div class="card-header">
    <h3 class="card-title fw-bolder text-capitalize m-0">
      Data Laporan Pemulihan Alat Evakuasi
    </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered hover align-middle"
        id="tableLaporanAlatEvakuasi"
      >
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th>Tanggal Inspeksi</th>
            <th class="text-center">Data</th>
            <th>Inspektor</th>
            <th class="text-center">Action</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% const select = [] %> 
          <% for( const laporan of laporans) { %>
          <tr class="text-nowrap">
            <td class="text-center"></td>
            <td>
              <%=
              `${("0"+laporan.tanggalInspeksi.getDate()).slice(-2)}-${("0"+(laporan.tanggalInspeksi.getMonth()+1)).slice(-2)}-${laporan.tanggalInspeksi.getFullYear()}`
              %>
            </td>
            <td class="text-center">
              <div class="modal fade" id="data<%= laporan._id %>" tabindex="-1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Data Laporan Alat Evakuasi Korban</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                        <div class="card shadow mb-3">
                          <div class="card-body">
                            <div class="table-responsive">
                              <table
                              class="table table-bordered text-start mb-0"
                              >
                                <tbody>
                                    <tr>
                                        <td class="w-50">
                                          <label for="tanggalInspeksi" class="form-label fw-bolder"
                                              >1. Tanggal Inspeksi :</label
                                          >
                                          <input type="text" readonly class="form-control"
                                          id="tanggalInspeksi" value="<%=
                                          `${("0"+laporan.tanggalInspeksi.getDate()).slice(-2)}-${("0"+(laporan.tanggalInspeksi.getMonth()+1)).slice(-2)}-${laporan.tanggalInspeksi.getFullYear()}`
                                          %>">
                                        </td>
                                        <td class="w-50">
                                          <label for="namaInspektor" class="form-label fw-bolder"
                                              >2. Nama Inspektor :</label
                                          >
                                          <input
                                              type="text"
                                              readonly
                                              class="form-control"
                                              id="namaInspektor"
                                              value="<%= laporan.inspektor.nama %>"
                                          />
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <label for="nip" class="form-label fw-bolder"
                                            >3. NRP/NIP :</label
                                        >
                                        <input
                                            type="text"
                                            readonly
                                            class="form-control"
                                            id="nip"
                                            value="<%= laporan.inspektor.nip %>"
                                        />
                                      </td>
                                      <td>
                                        <label for="tempatInspeksi" class="form-label fw-bolder"
                                            >4. Tempat Inspeksi</label
                                        >
                                        <input
                                            type="text"
                                            readonly
                                            class="form-control"
                                            id="tempatInspeksi"
                                            value="<%= laporan.tempatInspeksi %>"
                                        />
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="2">
                                        <label for="namaPerlengkapanYangRusak" class="form-label fw-bolder"
                                            >4. Nama perlengkapan P3K/Alat evakuasi yang rusak</label
                                        >
                                        <input
                                            type="text"
                                            readonly
                                            class="form-control"
                                            id="namaPerlengkapanYangRusak"
                                            value="<%= laporan.namaPerlengkapanYangRusak %>"
                                        />
                                      </td>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                          <div class="table-responsive">
                              <table class="table table-bordered">
                                  <thead>
                                      <tr>
                                          <th
                                          colspan="3"
                                          class="
                                              text-start text-uppercase
                                              fw-bolder
                                              fs-5
                                          "
                                          >
                                              Dokumentasi saat Inspeksi
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr class="align-middle">
                                        <td style="width: 33%;">
                                            <img src="/img/dokumentasiInspeksi/pelaporanPemulihan/<%= laporan.dokumentasi[0] %>" alt="" class="img-fluid">
                                        </td>
                                        <td style="width: 33%;">
                                            <img src="/img/dokumentasiInspeksi/pelaporanPemulihan/<%= laporan.dokumentasi[1] %>" alt="" class="img-fluid">
                                        </td>
                                        <td style="width: 33%;">
                                            <img src="/img/dokumentasiInspeksi/pelaporanPemulihan/<%= laporan.dokumentasi[2] %>" alt="" class="img-fluid">
                                        </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          </div>
                        </div>
                        <div class="card shadow">
                          <div class="card-header">
                            <h3 class="card-title my-3">Hasil Kuesioner</h3>
                          </div>
                          <div class="card-body">
                            <div class="table-responsive text-start text-wrap">
                              <table class="table align-middle table-bordered">
                                <thead>
                                  <tr class="table-primary">
                                    <th class="text-center">No.</th>
                                    <th>Pertanyaan</th>
                                    <th class="text-center">SS</th>
                                    <th class="text-center">S</th>
                                    <th class="text-center">RG</th>
                                    <th class="text-center">TS</th>
                                    <th class="text-center">STS</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Usefulness</i></td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">1</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini membantu saya menjadi lebih efektif
                                      dalam pembuatan laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">2</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini membantu saya menjadi lebih produktif
                                      pada saat pembuatan laporan Kecelakaan dan Pendataan
                                      Ketersediaan Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">3</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini berguna sekali dalam penyimpanan
                                      laporan Kecelakaan dan Pendataan Ketersediaan Perlengkapan Kotak
                                      P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">4</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini membuat pelaporan Kecelakaan dan
                                      Pendataan Ketersediaan Perlengkapan Kotak P3K lebih mudah untuk
                                      dilakukan
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">5</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini menghemat waktu saya saat melakukan
                                      pembuatan laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">6</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini dapat memenuhi kebutuhan saya (untuk
                                      membuat laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">7</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini melakukan semua yang saya harapkan
                                      (untuk membuat laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K)
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Ease of use</i></td>
                                  </tr>
                                  <tr>
                                    <td class="text-center">8</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini mudah digunakan
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">9</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini cara penggunaannya sederhana.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">10</td>
                                    <td>
                                      Baik pengguna sesekali ataupun pengguna yang teratur akan
                                      menyukai Sistem Informasi Pelaporan Kecelakaan dan Pendataan
                                      Ketersediaan Perlengkapan Kotak P3K ini.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">11</td>
                                    <td>Saya bisa menggunakannya dengan berhasil setiap saat.</td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Ease of Learning</i></td>
                                  </tr>
                                  <tr>
                                    <td class="text-center">12</td>
                                    <td>
                                      Saya belajar menggunakan Sistem Informasi Pelaporan Kecelakaan
                                      dan Pendataan Ketersediaan Perlengkapan Kotak P3K ini dengan
                                      cepat.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">13</td>
                                    <td>
                                      Saya dengan mudah ingat bagaimana menggunakan Sistem Informasi
                                      Pelaporan Kecelakaan dan Pendataan Ketersediaan Perlengkapan
                                      Kotak P3K ini.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">14</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini mudah dipelajari cara penggunaannya.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">15</td>
                                    <td>
                                      Saya dengan mudah menjadi terampil saat meggunakan Sistem
                                      Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Satisfaction</i></td>
                                  </tr>
                                  <tr>
                                    <td class="text-center">16</td>
                                    <td>
                                      Saya puas dengan Sistem Informasi Pelaporan Kecelakaan dan
                                      Pendataan Ketersediaan Perlengkapan Kotak P3K ini
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">17</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini menyenangkan untuk digunakan.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">18</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini berfungsi seperti yang saya inginkan.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">19</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini Luar biasa.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">20</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini nyaman digunakan.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                </tbody>
                              
                              </table>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#data<%= laporan._id %>"
                class="btn btn-primary"
              >
                Data
              </button>
            </td>
            <td><%= laporan.inspektor.nama %></td>
            <td class="text-center">
              <div class="modal fade" id="edit<%= laporan._id %>" tabindex="-1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Edit Laporan Pemulihan Alat Evakuasi Korban</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                        <div class="card shadow mb-3">
                          <div class="card-body">
                            <form
                              action="/upik3/data-laporan-pemulihan-alat-evakuasi?_method=PUT"
                              method="post"
                              spellcheck="false"
                              autocomplete="off"
                            >
                              <div class="row text-start">
                                <div class="col-12">
                                  <div class="mb-3 row">
                                    <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                                      <label for="tanggalInspeksi" class="form-label"
                                        >Tanggal inspeksi</label
                                      >
                                      <div class="input-group border-0 datepicker">
                                        <input
                                          type="text"
                                          id="tanggalInspeksi"
                                          class="form-control border-0"
                                          name="tanggalInspeksi"
                                          required
                                          title="Harap isi form ini"
                                          data-input
                                          value="<%=`${("0"+laporan.tanggalInspeksi.getDate()).slice(-2)}-${("0"+(laporan.tanggalInspeksi.getMonth()+1)).slice(-2)}-${laporan.tanggalInspeksi.getFullYear()}`%>"
                                        />
                                        <span class="input-group-text border-0" data-toggle>
                                          <i class="far fa-calendar"></i>
                                        </span>
                                      </div>
                                    </div>
                                    <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                                      <label for="namaInspektor" class="form-label"
                                        >Nama Inspektor</label
                                      >
                                      <select name="namaInspektor" id="namaInspektor<%= laporan._id %>" required title="Harap isi form ini">
                                        <% for (const user of users) { %>
                                          <option value="<%= user._id %>" <%= laporan.inspektor.nama === user.nama ? "selected" : "" %> ><%= user.nama %> </option>
                                        <% } %> 
                                      </select>
                                      <% select.push(`#namaInspektor${laporan._id}`) %> 
                                      <% select.push(`#edit${laporan._id}`) %> 
                                    </div>
                                  </div>
                                  <div class="mb-3 row">
                                    <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                      <label for="tempatInspeksi<%= laporan._id %>" class="form-label"
                                        >Tempat Inspeksi</label
                                      >
                                      <select
                                        name="tempatInspeksi"
                                        id="tempatInspeksi<%= laporan._id %>"
                                        class="form-select"
                                        required
                                      >
                                        <option></option>
                                        <% for( const tempat of foundTempat ) { %>
                                        <option value="<%= tempat.nama %>" <%= laporan.tempatInspeksi === tempat.nama ? "selected" : "" %> >
                                          <%= tempat.nama %>
                                        </option>
                                        <% } %>
                                      </select>
                                      <% select.push(`#tempatInspeksi${laporan._id}`) %> 
                                    </div>

                                    <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                      <label for="namaPerlengkapanYangRusak" class="form-label"
                                        >Nama perlengkapan P3K/Alat evakuasi yang rusak</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="namaPerlengkapanYangRusak"
                                        name="namaPerlengkapanYangRusak"
                                        title="Harap isi form ini"
                                        value="<%= laporan.namaPerlengkapanYangRusak %>"
                                        required
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <input type="text" name="idLaporan" class="d-none" readonly required value="<%= laporan._id %>">
                              <div class="d-flex flex-column d-lg-block text-start text-lg-center">
                                <button type="reset" id="reset" class="btn btn-danger mt-3">
                                  Reset
                                </button>
                                <button type="submit" class="btn btn-success mt-3">
                                  Edit
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary py-2 px-3" data-bs-toggle="modal" data-bs-target="#edit<%= laporan._id %>">
                <i class="far fa-edit fs-5"></i>
              </button>
              <form
                action="/upik3/data-laporan-pemulihan-alat-evakuasi?_method=DELETE"
                method="POST"
                class="d-inline-block"
              >
                <input
                  class="d-none"
                  type="text"
                  name="idLaporan"
                  readonly
                  value="<%= laporan._id %>"
                />
                <button type="submit" class="btn btn-danger py-2 px-3">
                  <i class="far fa-trash-alt fs-5"></i>
                </button>
              </form>
              <button class="btn btn-secondary py-2 px-3">
                <i class="fas fa-file-download fs-5"></i>
              </button>
            </td>
            <td class="text-center">
              <form action="/upik3/data-laporan-pemulihan-alat-evakuasi/approve?_method=PUT"
              method="POST"
              class="d-inline-block"
              >
                <input
                  class="d-none"
                  type="text"
                  readonly
                  name="idLaporan"
                  value="<%= laporan._id %>"
                />
                
                <button type="<%= !laporan.validasi.status && (currentUser.lokasi === laporan.lokasiP3k || currentUser.lokasi === "semua") ? "submit" : "button" %>" class="btn <%= laporan.validasi.status ? "btn-success" : "btn-danger" %>">
                  <%= laporan.validasi.status ? `Approved By ${laporan.validasi.user.nama}` : "Not Approved" %> 
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("templateP3k/footer") %>

<script>
  $(document).ready(function () {
    const temp = "<%= select %>";
    const select = temp.split(",");
    for (let i = 0; i < select.length; i+=3) {
      $(select[i]).select2({
        placeholder: "Silahkan pilih",
        theme: "bootstrap4",
        width: "100%",
        dropdownParent: $(select[i+1]),
      });
      $(select[i+2]).select2({
        placeholder: "Silahkan pilih",
        theme: "bootstrap4",
        width: "100%",
        dropdownParent: $(select[i+1]),
      });
    }
  });
  </script>