
<%- include("templateP3k/head") %>
<div class="card shadow mt-3 mx-3">
  <div class="card-header">
    <h3 class="card-title fw-bolder text-capitalize m-0">
      Data Laporan Kecelakaan
    </h3>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered hover align-middle"
        id="tableLaporanKecelakaan"
      >
        <thead>
          <tr>
            <th class="text-center">No</th>
            <th>Tanggal</th>
            <th class="text-center">Data</th>
            <th>Lokasi Kecelakaan</th>
            <th>Jenis Kecelakaan</th>
            <th>Pelapor</th>
            <th class="text-center">Action</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% if (laporans.length > 0) {%> 
            <% for( const laporan of laporans) { %>
            <tr class="text-nowrap">
            <td class="text-center"></td>
            <td>
              <%= converDate.regularLokal(laporan.createdAt) %>
            </td>
            <td class="text-center">
              <div class="modal fade" id="data<%= laporan._id %>" tabindex="-1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Data Laporan Kecelakaan</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body text-wrap">
                      <div class="table-responsive">
                        <table
                          class="table table-bordered shadow text-start p-3"
                          id="table<%= laporan._id %>"
                        >
                          <tbody>
                            <tr class="align-middle">
                              <td class="title fw-bolder">LAPORAN KECELAKAAN DI BENGKEL / LABORATORIUM POLITEKNIK PERKAPALAN NEGERI SURABAYA</td>
                              <td>
                                <b>Tanggal Inspeksi Form : </b><br>
                                <%= converDate.regularLokalMoment(laporan.createdAt) %> <br><br>
                                <b> Jenis Form : </b><br>
                                <%= laporan.jenisTurunan %> 
                              </td>
                            </tr>
                            <tr>
                              <td
                                colspan="2"
                                class="text-start text-uppercase fw-bolder fs-5 title"
                              >
                                Identitas Korban :
                              </td>
                            </tr>
                            <tr>
                              <td class="w-50">
                                <label for="tanggal<%= laporan._id %>2" class="form-label"
                                  >1. Tanggal Kejadian Korban :</label
                                > <br>
                                <%= converDate.regularLokalMoment(laporan.tanggalKejadian) %>
                              </td>
                              <td class="w-50">
                                <label for="namaKorban<%= laporan._id %>2" class="form-label"
                                  >2. Nama Korban :</label
                                > <br>
                                <%= laporan.namaKorban %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="alamatKorban<%= laporan._id %>2" class="form-label"
                                  >3. Alamat Korban :</label
                                > <br>
                                <%= laporan.alamatKorban %>
                              </td>
                              <td>
                                <label for="noTelp<%= laporan._id %>2" class="form-label"
                                  >4. Nomor Telepon</label
                                > <br>
                                <%= laporan.noTelp %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="jabatanKorban<%= laporan._id %>2" class="form-label"
                                  >5. <%= laporan.jenisTurunan === "Tenaga Kependidikan-Mayor" || laporan.jenisTurunan === "Tenaga Kependidikan-Minor" ? "Jabatan" : "Program Studi" %> :</label
                                ><br>
                                <%= laporan.jabatanKorban %>
                              </td>
                              <td>
                                <label for="nipKorban<%= laporan._id %>2" class="form-label"
                                  >6. <%= laporan.jenisTurunan === "Tenaga Kependidikan-Mayor" || laporan.jenisTurunan === "Tenaga Kependidikan-Minor" ? "NIP" : "NRP" %> :</label
                                > <br>
                                <%= laporan.nipKorban %>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <label for="tempatKecelakaan<%= laporan._id %>2" class="form-label"
                                  >7. Tempat Kecelakaan :</label
                                > <br>
                                <%= laporan.tempatKecelakaan %>
                              </td>
                            </tr>
                            <tr>
                              <td
                                colspan="2"
                                class="
                                  text-start text-uppercase
                                  fw-bolder
                                  fs-5
                                  w-50
                                  title
                                "
                              >
                                informasi kecelakaan :
                              </td>
                            </tr>
                            <tr>
                              <td rowspan="4">
                                <label class="form-label"
                                  >Uraian Kecelakaan :</label
                                > <br>
                                <label for="terjadi<%= laporan._id %>2" class="form-label"
                                  >1. Bagaimana Terjadinya Kecelakaan?</label
                                > <br>
                                <%= laporan.bagaimanaKecelakaanTerjadi %> <br> <br>
                                <label
                                  for="jenisPekerjaanWaktuKecelakaan<%= laporan._id %>2"
                                  class="form-label"
                                  >2. Jenis Pekerjaan Waktu Terjadinya
                                  Kecelakaan?</label
                                ><br>
                                <%= laporan.jenisPekerjaanWaktuKecelakaan %> <br> <br>
                                <label
                                  for="saksiYangMelihatKecelakaan<%= laporan._id %>2"
                                  class="form-label"
                                  >3. Siapa Saksi yang melihat
                                  kecelakaan?</label
                                ><br>
                                <%= laporan.saksiYangMelihatKecelakaan %>
                              </td>
                              <td>
                                <label for="berobatJalan<%= laporan._id %>2" class="form-label"
                                  >2. Berobat Jalan :</label
                                > <br>
                                <%= laporan.berobatJalan %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="penyebab<%= laporan._id %>2" class="form-label"
                                  >3. Sebuatkan Yang Menyebabkan Kecelakaan
                                  :</label
                                > <br>
                                <%= laporan.penyebabKecelakaan %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label
                                  for="penyakitAkibatKerja<%= laporan._id %>2"
                                  class="form-label"
                                  >4. Sebutkan yang menyebabkan penyakit akibat
                                  kerja :</label
                                > <br>
                                <%= laporan.penyakitAkibatKerja %>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label class="form-label"
                                  >5. Perkiraan Kerugian :</label
                                > <br class="d-none">
                                <ol type="a">
                                  <li class="mb-3">
                                    <label
                                      for="kerugianWaktu<%= laporan._id %>2"
                                      class="form-label"
                                      >Waktu :</label
                                    >
                                    <%= laporan.kerugianWaktu %> Jam<br class="d-none">
                                  </li>
                                  <li class="mb-3">
                                    <label
                                      for="kerugianMaterial<%= laporan._id %>2"
                                      class="form-label"
                                      >Material :</label
                                    >
                                    <%= laporan.kerugianMaterial %>
                                  </li>
                                </ol>
                              </td>
                            </tr>
                            <tr>
                              <td
                                colspan="2"
                                class="
                                  text-start text-uppercase
                                  fw-bolder
                                  fs-5
                                  w-50
                                  text-wrap
                                  title
                                "
                              >
                                PEMULIHAN TENAGA KEPENDIDIKAN YANG SAKIT (diisi
                                di tempat pemeriksaan atas kordinasi dengan
                                petugas pemeriksa setempat)
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="alatRawat<%= laporan._id %>2" class="form-label"
                                  >1. Korban Dirawat Dimana, Beserta Alamatnya
                                  ?</label
                                ><br>
                                <%= `${laporan.jenisLokasiRawat}, ${laporan.namaLokasiRawat}, ${laporan.alamatLokasiRawat}` %>
                              </td>
                              <td>
                                <label for="jenisObat<%= laporan._id %>2" class="form-label"
                                  >2. Jenis/merek obat apa saja yang digunakan
                                  ?</label
                                ><br>
                                <%= laporan.jenisObat %>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                
                                <label
                                  for="dataDokter<%= laporan._id %>2"
                                  class="form-label text-wrap"
                                  >3. Nama dan Alamat Dokter/Tenaga Medik? (yang
                                  Memberikan Pertolongan Pertama atau yang
                                  Memberikan Diagnosa Awal)</label
                                ><br>
                                <%= `${laporan.namaDokter}, ${laporan.alamatDokter}` %>
                              </td>
                            </tr>
                            <% if (laporan.alatEvakuasi1 !== "-") { %>
                            <tr>
                              <td
                                colspan="2"
                                class="
                                  text-start text-uppercase
                                  fw-bolder
                                  fs-5
                                  w-50
                                  title
                                "
                              >
                                Alat Evakuasi
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <label for="alatEvakuasi1<%= laporan._id %>2" class="form-label"
                                  >Alat Evakuasi Apa Saja yang
                                  Digunakan?</label
                                ><br class="d-none">
                                <ol>
                                  <li><%= laporan.alatEvakuasi1 %> <br class="d-none"></li>
                                  <% if (laporan.alatEvakuasi2 !== "-") { %>
                                   <li> <%= laporan.alatEvakuasi2 %></li>
                                  <% } %>
                                </ol>
                              </td>
                            </tr>
                            <% } %>
                            <tr>
                              <td
                              colspan="2"
                                class="
                                  text-start text-uppercase
                                  fw-bolder
                                  fs-5
                                  w-50
                                  title
                                "
                              >
                                identitas saksi
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <label for="namaSaksi<%= laporan._id %>2" class="form-label"
                                  >1. Nama Saksi (yang mengisi Form Kecelakaan)
                                  :</label
                                ><br class="d-none">
                                <%= laporan.saksi.nama %>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <label for="jabatanSaksi<%= laporan._id %>2" class="form-label"
                                  >2. Jabatan :</label
                                ><br class="d-none">
                                <%= laporan.saksi.status %>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <label for="nipSaksi<%= laporan._id %>2" class="form-label"
                                  >3. NRP/NIK :</label
                                ><br class="d-none">
                                <%= laporan.saksi.nip %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table shadow">
                          <thead>
                            <tr>
                              <th colspan="3" class="fw-bolder">Dokumentasi</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <% let lokasi %> 
                                <% if (laporan.jenisTurunan === "Mahasiswa-Minor") { %>
                                  <% lokasi = "pelaporanMahasiswa/mahasiswaMinor" %> 
                                <% } else if (laporan.jenisTurunan === "Mahasiswa-Mayor") { %>  
                                  <% lokasi = "pelaporanMahasiswa/mahasiswaMayor" %> 
                                <% }else if (laporan.jenisTurunan === "Tenaga Kependidikan-Minor") {%>
                                  <% lokasi = "pelaporanTenagaKependidikan/minor" %>   
                                <% }else if (laporan.jenisTurunan === "Tenaga Kependidikan-Mayor") { %>
                                  <% lokasi = "pelaporanTenagaKependidikan/mayor" %>   
                                <% } %> 
                                <img
                                  src="/img/dokumentasiInspeksi/<%= `${lokasi}/${laporan.dokumentasi[0]}` %>"
                                  class="w-100"
                                  alt=""
                                />
                              </td>
                              <td>
                                <img
                                  src="/img/dokumentasiInspeksi/<%= `${lokasi}/${laporan.dokumentasi[1]}` %>"
                                  class="w-100"
                                  alt=""
                                />
                              </td>
                              <td>
                                <img
                                  src="/img/dokumentasiInspeksi/<%= `${lokasi}/${laporan.dokumentasi[2]}` %>"
                                  class="w-100"
                                  alt=""
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="card shadow">
                          <div class="card-header">
                            <h3 class="card-title my-3">Hasil Kuesioner</h3>
                          </div>
                          <div class="card-body">
                            <div class="table-responsive text-start text-wrap">
                              <table class="table align-middle table-bordered">
                                <thead>
                                  <tr class="table-primary">
                                    <th class="text-center">No.</th>
                                    <th>Pertanyaan</th>
                                    <th class="text-center">SS</th>
                                    <th class="text-center">S</th>
                                    <th class="text-center">RG</th>
                                    <th class="text-center">TS</th>
                                    <th class="text-center">STS</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Usefulness</i></td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">1</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini membantu saya menjadi lebih efektif
                                      dalam pembuatan laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan1 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">2</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini membantu saya menjadi lebih produktif
                                      pada saat pembuatan laporan Kecelakaan dan Pendataan
                                      Ketersediaan Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan2 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">3</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini berguna sekali dalam penyimpanan
                                      laporan Kecelakaan dan Pendataan Ketersediaan Perlengkapan Kotak
                                      P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan3 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">4</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini membuat pelaporan Kecelakaan dan
                                      Pendataan Ketersediaan Perlengkapan Kotak P3K lebih mudah untuk
                                      dilakukan
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan4 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">5</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini menghemat waktu saya saat melakukan
                                      pembuatan laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan5 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">6</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini dapat memenuhi kebutuhan saya (untuk
                                      membuat laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan6 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">7</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini melakukan semua yang saya harapkan
                                      (untuk membuat laporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K)
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan7 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Ease of use</i></td>
                                  </tr>
                                  <tr>
                                    <td class="text-center">8</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini mudah digunakan
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan8 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">9</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini cara penggunaannya sederhana.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan9 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">10</td>
                                    <td>
                                      Baik pengguna sesekali ataupun pengguna yang teratur akan
                                      menyukai Sistem Informasi Pelaporan Kecelakaan dan Pendataan
                                      Ketersediaan Perlengkapan Kotak P3K ini.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan10 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">11</td>
                                    <td>Saya bisa menggunakannya dengan berhasil setiap saat.</td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan11 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Ease of Learning</i></td>
                                  </tr>
                                  <tr>
                                    <td class="text-center">12</td>
                                    <td>
                                      Saya belajar menggunakan Sistem Informasi Pelaporan Kecelakaan
                                      dan Pendataan Ketersediaan Perlengkapan Kotak P3K ini dengan
                                      cepat.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan12 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">13</td>
                                    <td>
                                      Saya dengan mudah ingat bagaimana menggunakan Sistem Informasi
                                      Pelaporan Kecelakaan dan Pendataan Ketersediaan Perlengkapan
                                      Kotak P3K ini.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan13 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">14</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini mudah dipelajari cara penggunaannya.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan14 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">15</td>
                                    <td>
                                      Saya dengan mudah menjadi terampil saat meggunakan Sistem
                                      Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan15 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td colspan="7"><i class="fw-bolder">Satisfaction</i></td>
                                  </tr>
                                  <tr>
                                    <td class="text-center">16</td>
                                    <td>
                                      Saya puas dengan Sistem Informasi Pelaporan Kecelakaan dan
                                      Pendataan Ketersediaan Perlengkapan Kotak P3K ini
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan16 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">17</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini menyenangkan untuk digunakan.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan17 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">18</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini berfungsi seperti yang saya inginkan.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan18 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">19</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini Luar biasa.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan19 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                  <tr>
                                    <td class="text-center">20</td>
                                    <td>
                                      Sistem Informasi Pelaporan Kecelakaan dan Pendataan Ketersediaan
                                      Perlengkapan Kotak P3K ini nyaman digunakan.
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "ss") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "s") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "rg") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "ts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                    <td>
                                      <% if (laporan.pertanyaan20 === "sts") { %>
                                        <button class="btn btn-success">√</button>
                                      <% } %>  
                                    </td>
                                  </tr>
                                  <!-- ========================================================================== -->
                                </tbody>
                              
                              </table>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button
                data-bs-toggle="modal"
                data-bs-target="#data<%= laporan._id %>"
                class="btn btn-primary"
              >
                Data
              </button>
            </td>
            <td><%= laporan.tempatKecelakaan %></td>
            <td><%= laporan.jenisTurunan %></td>
            <td><%= laporan.saksi.nama %></td>
            <td class="text-center">
              <!-- EDITTT ========================================================================================== -->
              <div class="modal fade" id="dataEdit<%= laporan._id %>" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title fw-bolder">Edit Form Laporan Kecelakaan</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body text-start">
                      <form action="/upik3/data-laporan-kecelakaan?_method=PUT" method="POST" spellcheck="false" autocomplete="off">
                        <div class="row">
                          <div class="col-12">
                            <div class="mb-3 row">
                              <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                                <label for="tanggalKejadian<%= laporan._id %>" class="form-label"
                                  >Tanggal Kejadian Korban</label
                                >
                                <div class="input-group border-0 datepicker">
                                  <input
                                    type="text"
                                    id="tanggalKejadian<%= laporan._id %>"
                                    class="form-control border-0"
                                    name="tanggalKejadian"
                                    required
                                    title="Harap isi form ini"
                                    value="<%=`${("0"+laporan.tanggalKejadian.getDate()).slice(-2)}-${("0"+(laporan.tanggalKejadian.getMonth()+1)).slice(-2)}-${laporan.tanggalKejadian.getFullYear()}`%>"
                                    data-input
                                  />
                                  <span class="input-group-text border-0" data-toggle>
                                    <i class="far fa-calendar"></i>
                                  </span>
                                </div>
                              </div>
                              <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                                <label for="namaKorban<%= laporan._id %>" class="form-label">Nama Korban</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="namaKorban<%= laporan._id %>"
                                  name="namaKorban"
                                  title="Harap isi form ini"
                                  value="<%= laporan.namaKorban %>"
                                  required
                                />
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                <label for="alamatKorban<%= laporan._id %>" class="form-label">Alamat Korban</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="alamatKorban<%= laporan._id %>"
                                  name="alamatKorban"
                                  title="Harap isi form ini"
                                  value="<%= laporan.alamatKorban %>"
                                  required
                                />
                              </div>
                              <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                <label for="noTelp<%= laporan._id %>" class="form-label">Nomor Telepon</label>
                                <input
                                  type="tel"
                                  class="form-control"
                                  id="noTelp<%= laporan._id %>"
                                  name="noTelp"
                                  pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}"
                                  required
                                  value="<%= laporan.noTelp %>"
                                  placeholder="XXXX-XXXX-XXXX"
                                  title="Harap isi form ini"
                                />
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                <label for="jabatanKorban<%= laporan._id %>" class="form-label">Jabatan</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="jabatanKorban<%= laporan._id %>"
                                  name="jabatanKorban"
                                  title="Harap isi form ini"
                                  value="<%= laporan.jabatanKorban %>"
                                  required
                                />
                              </div>
                              <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                <label for="nipKorban<%= laporan._id %>" class="form-label">NIP</label>
                                <input
                                  type="number"
                                  class="form-control"
                                  id="nipKorban<%= laporan._id %>"
                                  name="nipKorban"
                                  title="Harap isi form ini"
                                  value="<%= laporan.nipKorban %>"
                                  required
                                />
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="col-12 d-flex flex-column mb-3 mb-sm-1">
                                <label for="tempatKecelakaan<%= laporan._id %>" class="form-label">Tempat Kecelakaan</label>
                                <select class="form-select" name="tempatKecelakaan" id="tempatKecelakaan<%= laporan._id %>" title="Harap isi form ini" required>
                                  <option class="d-none">Silahkan dipilih</option>
                                  <% for( const tempat of foundTempat ) { %>
                                    <option value="<%= tempat.nama %>" <%= tempat.nama === laporan.tempatKecelakaan ? "selected" : "" %> ><%= tempat.nama %></option>
                                  <% } %>
                                </select>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="d-flex flex-column mb-3 mb-sm-1">
                                <label for="bagaimana<%= laporan._id %>" class="form-label"
                                  >Bagaimana terjadinya kecelakaan</label
                                >
                                <textarea
                                  name="bagaimanaKecelakaanTerjadi"
                                  id="bagaimana<%= laporan._id %>"
                                  rows="2"
                                  class="form-control"
                                  required
                                  title="Harap isi form ini"
                                ><%= laporan.bagaimanaKecelakaanTerjadi %></textarea>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="d-flex flex-column mb-3 mb-sm-1">
                                <label for="jenispekerjaan<%= laporan._id %>" class="form-label"
                                  >Jenis pekerjaan waktu kecelakaan</label
                                >
                                <textarea
                                  name="jenisPekerjaanWaktuKecelakaan"
                                  id="jenispekerjaan<%= laporan._id %>"
                                  rows="2"
                                  class="form-control"
                                  required
                                  title="Harap isi form ini"
                                ><%= laporan.jenisPekerjaanWaktuKecelakaan %></textarea>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="d-flex flex-column mb-3 mb-sm-1">
                                <label for="saksiYangMelihatKecelakaan<%= laporan._id %>" class="form-label"
                                  >Siapa saksi yang melihat kecelakaan?</label
                                >
                                <textarea
                                  name="saksiYangMelihatKecelakaan"
                                  id="saksiYangMelihatKecelakaan<%= laporan._id %>"
                                  rows="2"
                                  class="form-control"
                                  required
                                  title="Harap isi form ini"
                                ><%= laporan.saksiYangMelihatKecelakaan %></textarea>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                <label for="penyebabKecelakaan<%= laporan._id %>" class="form-label"
                                  >Sebutkan yang menyebabkan kecelakaan</label
                                >
                                <select
                                  name="penyebabKecelakaan"
                                  id="penyebabKecelakaan<%= laporan._id %>"
                                  class="form-select"
                                  required
                                  title="Harap isi form ini"
                                >
                                  <option value="mesin" <%= laporan.penyebabKecelakaan === "mesin" ? "selected" : "" %> >Mesin</option>
                                  <option value="pesawatInstalasi" <%= laporan.penyebabKecelakaan === "pesawatInstalasi" ? "selected" : "" %>>Pesawat Instalasi</option>
                                  <option value="alatProses" <%= laporan.penyebabKecelakaan === "alatProses" ? "selected" : "" %>>Alat Proses</option>
                                  <option value="caraKerja" <%= laporan.penyebabKecelakaan === "caraKerja" ? "selected" : "" %>>Cara Kerja</option>
                                  <option value="bahan" <%= laporan.penyebabKecelakaan === "bahan" ? "selected" : "" %>>Bahan</option>
                                  <option value="lingkungan" <%= laporan.penyebabKecelakaan === "lingkungan" ? "selected" : "" %>>Lingkungan</option>
                                </select>
                              </div>
                              <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                                <label for="penyakitAkibatKerja<%= laporan._id %>" class="form-label"
                                  >Sebutkan yang menyebabkan penyakit akibat kerja</label
                                >
                                <select
                                  name="penyakitAkibatKerja"
                                  id="penyakitAkibatKerja<%= laporan._id %>"
                                  class="form-select"
                                  title="Harap isi form ini"
                                  required
                                >
                                  <option value="bahan" <%= laporan.penyakitAkibatKerja === "bahan" ? "selected" : "" %>>Bahan</option>
                                  <option value="proses" <%= laporan.penyakitAkibatKerja === "proses" ? "selected" : "" %>>Proses</option>
                                  <option value="lingkungan" <%= laporan.penyakitAkibatKerja === "lingkungan" ? "selected" : "" %>>Lingkungan</option>
                                  <option value="caraKerja" <%= laporan.penyakitAkibatKerja === "caraKerja" ? "selected" : "" %>>Cara Kerja</option>
                                  <option value="sifatPekerjaan" <%= laporan.penyakitAkibatKerja === "sifatPekerjaan" ? "selected" : "" %>>Sifat Pekerjaan</option>
                                </select>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="col-12 d-flex flex-column mb-3 mb-sm-1">
                                <label for="berobatJalan<%= laporan._id %>" class="form-label"
                                  >Berobat jalan</label
                                >
                                <select
                                  name="berobatJalan"
                                  id="berobatJalan<%= laporan._id %>"
                                  class="form-select"
                                  required
                                  title="Harap isi form ini"
                                >
                                  <option value="bekerja" <%= laporan.berobatJalan === "bekerja" ? "selected" : "" %> >Sambil Bekerja</option>
                                  <option value="tidakBekerja" <%= laporan.berobatJalan === "tidakBekerja" ? "selected" : "" %>>Tidak Bekerja</option>
                                </select>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <div class="d-flex flex-column mb-3 mb-sm-1">
                                <label for="perkiraanKerugian<%= laporan._id %>" class="form-label"
                                  >Perkiraan Kerugian</label
                                >
                                <div id="perkiraanKerugian" class="row">
                                  <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                      <input
                                        type="number"
                                        min="0"
                                        class="form-control"
                                        name="kerugianWaktu"
                                        required
                                        title="Harap isi form ini"
                                        placeholder="waktu"
                                        value="<%= laporan.kerugianWaktu %>"
                                      />
                                      <span class="input-group-text">Jam</span>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <input
                                      type="text"
                                      class="form-control"
                                      required
                                      placeholder="Material"
                                      name="kerugianMaterial"
                                      title="Harap isi form ini"
                                      value="<%= laporan.kerugianMaterial %>"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <div class="d-flex flex-column mb-3 mb-sm-1">
                                <label class="form-label mb-2 text-justify"
                                  >Pemulihan Tenaga Kependidikan yang sakit (diisi di tempat
                                  pemeriksaan atas kordinasi dengan petugas pemeriksa
                                  setempat) :</label
                                >
              
                                <div>
                                  <label " class="form-label"
                                    >Dirawat dimana, beserta alamat</label
                                  >
                                  <div class="row mb-3">
                                    <div class="col-sm-4">
                                      <select class="form-select mb-1" name="jenisLokasiRawat" title="Harap isi form ini">
                                        <option value="rumahSakit" <%= laporan.jenisLokasiRawat === "rumahSakit" ? "selected" : "" %>>Rumah Sakit</option>
                                        <option value="puskesmas" <%= laporan.jenisLokasiRawat === "puskesmas" ? "selected" : "" %>>Puskesmas</option>
                                        <option value="poliklinik" <%= laporan.jenisLokasiRawat === "poliklinik" ? "selected" : "" %>>Poliklinik</option>
                                      </select>
                                    </div>
                                    <div class="col-sm-4">
                                      <input
                                        type="text"
                                        name="namaLokasiRawat"
                                        class="form-control mb-1"
                                        required
                                        placeholder="nama tempat"
                                        value="<%= laporan.namaLokasiRawat %>"
                                        title="Harap isi form ini"
                                      />
                                    </div>
                                    <div class="col-sm-4">
                                      <input
                                        type="text"
                                        name="alamatLokasiRawat"
                                        class="form-control"
                                        required
                                        value="<%= laporan.alamatLokasiRawat %>"
                                        placeholder="alamat perawatan"
                                        title="Harap isi form ini"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <label  class="form-label"
                                    >Nama dan alamat dokter/tenaga medik yang memberikan
                                    pertolongan pertama</label
                                  >
                                  <div class="row mb-3">
                                    <div class="col-sm-6">
                                      <input
                                        type="text"
                                        name="namaDokter"
                                        class="form-control mb-1"
                                        required
                                        placeholder="nama dokter"
                                        value="<%= laporan.namaDokter %>"
                                      />
                                    </div>
                                    <div class="col-sm-6">
                                      <input
                                        type="text"
                                        name="alamatDokter"
                                        class="form-control"
                                        required
                                        value="<%= laporan.alamatDokter %>"
                                        placeholder="alamat dokter"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <label for="jenisObat<%= laporan._id %>"  class="form-label">Nama/jenis obat apa saja yang digunakan saat proses pengobatan</label>
                                  <input type="text" value="<%= laporan.jenisObat %>" name="jenisObat" class="form-control" id="jenisObat<%= laporan._id %>" required placeholder="jenis obat">
                                </div>
                              </div>
                            </div>
                            <% if (laporan.alatEvakuasi1 !== "-") {%> 
                            <div class="mb-3">
                              <label for="alatEvakuasi1<%= laporan._id %>" class="form-label">Alat evakuasi apa saja yang digunakan</label>
                              <select name="alatEvakuasi1" class="form-select mb-2" id="alatEvakuasi1<%= laporan._id %>" required>
                                <option value="Tandu" <%= laporan.alatEvakuasi1 === "Tandu" ? "selected" : "" %> >Tandu</option>
                                <option value="Kursi Roda" <%= laporan.alatEvakuasi1 === "Kursi Roda" ? "selected" : "" %>>Kursi Roda</option>
                              </select>
                              <% if (laporan.alatEvakuasi2 !== "-") {%>  
                                <select name="alatEvakuasi2" class="form-select">
                                  <option value="Tandu" <%= laporan.alatEvakuasi2 === "Tandu" ? "selected" : "" %> >Tandu</option>
                                  <option value="Kursi Roda" <%= laporan.alatEvakuasi2 === "Kursi Roda" ? "selected" : "" %>>Kursi Roda</option>
                                </select>
                              <% } %> 
                            </div>
                            <% } %> 
                            <input class="d-none"type="text" readonly required name="idLaporan" value="<%= laporan._id %>">
                          </div>
                        </div>
                        <div class="d-flex flex-column d-lg-block text-start text-lg-center">
                          <button type="reset" class="btn btn-danger mt-3">
                            Reset
                          </button>
                          <button type="submit" class="btn btn-success mt-3">Edit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary py-2 px-3" data-bs-toggle="modal" data-bs-target="#dataEdit<%= laporan._id %>">
                <i class="far fa-edit fs-5"></i>
              </button>
              <!-- EDITTT ========================================================================================== -->
              <!-- DELETE ========================================================================================== -->
              <form
                action="/upik3/data-laporan-kecelakaan?_method=DELETE"
                method="POST"
                class="d-inline-block"
              >
                <input
                  class="d-none"
                  type="text"
                  name="idLaporan"
                  readonly
                  value="<%= laporan._id %>"
                />
                <button type="submit" class="btn btn-danger py-2 px-3">
                  <i class="far fa-trash-alt fs-5"></i>
                </button>
              </form>
              <!-- DELETE ========================================================================================== -->
              <button class="btn btn-secondary py-2 px-3 tombolDownload" data-id-table="<%= `#table${laporan._id}` %>">
                <i class="fas fa-file-download fs-5"></i>
              </button>
            </td>
            <td class="text-center">
              <form action="/upik3/data-laporan-kecelakaan/approve?_method=PUT"
              method="POST"
              class="d-inline-block"
              >
                <input
                  class="d-none"
                  type="text"
                  readonly
                  name="idLaporan"
                  value="<%= laporan._id %>"
                />
                
                <button type="<%= !laporan.validasi.status && (currentUser.lokasi === laporan.tempatKecelakaan || currentUser.lokasi === "semua") ? "submit" : "button" %>" class="btn <%= laporan.validasi.status ? "btn-success" : "btn-danger" %>">
                  <%= laporan.validasi.status ? `Approved By ${laporan.validasi.user.nama}` : "Not Approved" %> 
                </button>
              </form>
            </td>
            </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include("templateP3k/footer") %>

  <script>
    const tombolDownload = document.querySelectorAll(".tombolDownload");
    for (const download of tombolDownload) {
      download.addEventListener("click", ()=> {
        const idTable =  download.getAttribute("data-id-table");
        const doc = new jspdf.jsPDF();
        doc.autoTable({
          html: idTable,
          theme: "grid",
          didParseCell: function(data) {
            const titleElement = data.cell.raw;
            if (titleElement && titleElement.classList.contains('title')) {
              data.cell.styles.fontStyle = 'bold';
              data.cell.text = data.cell.text.map(e => e.toUpperCase())
            }
          },
          includeHiddenHtml : true,
          tableLineWidth : 0.4,
          tableLineColor : 0,
          styles: {
            font : "times",
            textColor : "#000",
            overflow: 'linebreak',
            cellWidth: 'wrap',
            lineColor : 0
          },
          columnStyles: {
            0: {cellWidth: 90, valign : "middle"},
            1: {cellWidth: "auto"}
          },
          
        });
        doc.save(`Laporan-Kecelakaan-${moment().format("x")}`)
      })
    }
  </script>

