<%- include("templateP3k/head") %>
<div class="modal fade" id="minor" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bolder">Tenaga Kependidikan - Minor</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/upik3/kuesioner" method="POST" spellcheck="false" autocomplete="off" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12">
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                  <label for="tanggalKejadian" class="form-label"
                    >Tanggal Kejadian Korban</label
                  >
                  <div class="input-group border-0 datepicker">
                    <input
                      type="text"
                      id="tanggalKejadian"
                      class="form-control border-0"
                      name="tanggalKejadian"
                      required
                      title="Harap isi form ini"
                      data-input
                    />
                    <span class="input-group-text border-0" data-toggle>
                      <i class="far fa-calendar"></i>
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                  <label for="namaKorban" class="form-label">Nama Korban</label>
                  <input
                    type="text"
                    class="form-control"
                    id="namaKorban"
                    name="namaKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="alamatKorban" class="form-label">Alamat Korban</label>
                  <input
                    type="text"
                    class="form-control"
                    id="alamatKorban"
                    name="alamatKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="noTelp" class="form-label">Nomor Telepon</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="noTelp"
                    name="noTelp"
                    pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}"
                    required
                    placeholder="XXXX-XXXX-XXXX"
                    title="Harap isi form ini"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="jabatanKorban" class="form-label">Jabatan</label>
                  <input
                    type="text"
                    class="form-control"
                    id="jabatanKorban"
                    name="jabatanKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="nipKorban" class="form-label">NIP</label>
                  <input
                    type="number"
                    class="form-control"
                    id="nipKorban"
                    name="nipKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-12 d-flex flex-column mb-3 mb-sm-1">
                  <label for="tempatKecelakaan" class="form-label">Tempat Kecelakaan</label>
                  <select class="form-select" name="tempatKecelakaan" id="tempatKecelakaan" title="Harap isi form ini" required>
                    <option class="d-none">Silahkan dipilih</option>
                    <% for( const tempat of foundTempat ) { %>
                      <option value="<%= tempat.nama %>"><%= tempat.nama %></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="bagaimana" class="form-label"
                    >Kronologi kecelakaan</label
                  >
                  <textarea
                    name="bagaimanaKecelakaanTerjadi"
                    id="bagaimana"
                    rows="2"
                    class="form-control"
                    required
                    title="Harap isi form ini"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="jenispekerjaan" class="form-label"
                    >Jenis pekerjaan waktu kecelakaan</label
                  >
                  <textarea
                    name="jenisPekerjaanWaktuKecelakaan"
                    id="jenispekerjaan"
                    rows="2"
                    class="form-control"
                    required
                    title="Harap isi form ini"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="saksiYangMelihatKecelakaan" class="form-label"
                    >Saksi yang melihat kecelakaan?</label
                  >
                  <textarea
                    name="saksiYangMelihatKecelakaan"
                    id="saksiYangMelihatKecelakaan"
                    rows="2"
                    class="form-control"
                    required
                    title="Harap isi form ini"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="penyebabKecelakaan" class="form-label"
                    >Penyebab kecelakaan</label
                  >
                  <select
                    name="penyebabKecelakaan"
                    id="penyebabKecelakaan"
                    class="form-select"
                    required
                    title="Harap isi form ini"
                  >
                    <option class="d-none" selected>Silahkan Pilih</option>
                    <option value="mesin">Mesin</option>
                    <option value="pesawatInstalasi">Pesawat Instalasi</option>
                    <option value="alatProses">Alat Proses</option>
                    <option value="caraKerja">Cara Kerja</option>
                    <option value="bahan">Bahan</option>
                    <option value="lingkungan">Lingkungan</option>
                  </select>
                </div>
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="penyakitAkibatKerja" class="form-label"
                    >Penyebab penyakit akibat kerja</label
                  >
                  <select
                    name="penyakitAkibatKerja"
                    id="penyakitAkibatKerja"
                    class="form-select"
                    title="Harap isi form ini"
                    required
                  >
                    <option selected class="d-none">Silahkan pilih</option>
                    <option value="bahan">Bahan</option>
                    <option value="proses">Proses</option>
                    <option value="lingkungan">Lingkungan</option>
                    <option value="caraKerja">Cara Kerja</option>
                    <option value="sifatPekerjaan">Sifat Pekerjaan</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-12 d-flex flex-column mb-3 mb-sm-1">
                  <label for="berobatJalan" class="form-label"
                    >Berobat jalan</label
                  >
                  <select
                    name="berobatJalan"
                    id="berobatJalan"
                    class="form-select"
                    required
                    title="Harap isi form ini"
                  >
                    <option selected class="d-none">Silahkan pilih</option>
                    <option value="bekerja">Sambil Bekerja</option>
                    <option value="tidakBekerja">Tidak Bekerja</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="perkiraanKerugian" class="form-label"
                    >Perkiraan Kerugian</label
                  >
                  <div id="perkiraanKerugian" class="row">
                    <div class="col-sm-6">
                      <label for="kerugianWaktuMinor" class="form-label">A. Waktu</label>
                      <div class="input-group mb-3">
                        <input
                        id="kerugianWaktuMinor"
                          type="number"
                          min="0"
                          class="form-control"
                          name="kerugianWaktu"
                          required
                          title="Harap isi form ini"
                          placeholder="waktu"
                        />
                        <span class="input-group-text">Jam</span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="kerugianMaterialMinor" class="form-label">B. Material</label>
                      <input
                      id="kerugianMaterialMinor"
                        type="text"
                        class="form-control"
                        required
                        placeholder="Material"
                        name="kerugianMaterial"
                        title="Harap isi form ini"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label class="form-label mb-2 text-justify"
                    >Pemulihan Tenaga Kependidikan yang sakit (diisi di tempat
                    pemeriksaan atas kordinasi dengan petugas pemeriksa
                    setempat) :</label
                  >

                  <div>
                    <label " class="form-label"
                      >Dirawat dimana, beserta alamat</label
                    >
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <select class="form-select mb-1" name="jenisLokasiRawat" title="Harap isi form ini">
                          <option selected class="d-none">Pilih jenis tempat</option>
                          <option value="rumahSakit">Rumah Sakit</option>
                          <option value="puskesmas">Puskesmas</option>
                          <option value="poliklinik">Poliklinik</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <input
                          type="text"
                          name="namaLokasiRawat"
                          class="form-control mb-1"
                          required
                          placeholder="nama tempat"
                          title="Harap isi form ini"
                        />
                      </div>
                      <div class="col-sm-4">
                        <input
                          type="text"
                          name="alamatLokasiRawat"
                          class="form-control"
                          required
                          placeholder="alamat perawatan"
                          title="Harap isi form ini"
                        />
                      </div>
                    </div>
                  </div>
                  <div>
                    <label  class="form-label"
                      >Nama dan alamat dokter/tenaga medik yang memberikan
                      pertolongan pertama</label
                    >
                    <div class="row mb-3">
                      <div class="col-sm-6">
                        <input
                          type="text"
                          name="namaDokter"
                          class="form-control mb-1"
                          required
                          placeholder="nama dokter"
                        />
                      </div>
                      <div class="col-sm-6">
                        <input
                          type="text"
                          name="alamatDokter"
                          class="form-control"
                          required
                          placeholder="alamat dokter"
                        />
                      </div>
                    </div>
                  </div>
                  <div>
                    <label id="jenisObat"  class="form-label">Nama/jenis obat apa saja yang digunakan saat proses pengobatan</label>
                    <input type="text" name="jenisObat" class="form-control" id="jenisObat" required placeholder="jenis obat">
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-4 mb-2">
                  <label for="namaSaksi" class="form-label">Nama saksi yang mengisi form kecelakaan</label>
                  <input type="text" value="<%= currentUser.nama %>" readonly name="namaSaksi" id="namaSaksi" class="form-control" required>
                </div>
                <div class="col-sm-4 mb-2">
                  <label for="jabatanSaksi" class="form-label">Jabatan</label>          
                  <input type="text" value="<%= currentUser.status %>" readonly name="jabatanSaksi" id="jabatanSaksi" class="form-control" required>
                </div>
                <div class="col-sm-4">
                  <label for="nikSaksi" class="form-label">NRP/NIP</label>
                  <input type="number"readonly value="<%= currentUser.nip %>" name="nikSaksi" id="nikSaksi" class="form-control" required>
                </div>
              </div>
              <input class="d-none"type="text" readonly required name="jenis" value="pelaporan-kependidikan">
              <input class="d-none"type="text" readonly required name="jenisTurunan" value="Tenaga Kependidikan-Minor">
              <div class="mb-3 row">
                <div class="col-12">
                  <label for="dokumentasi" class="form-label">Dokumentasi <br><small class="fst-italic fw-light">*harus memasukkan 3 foto</small></label>
                  <input type="file" id="dokumentasi" class="dokumentasi" name="dokumentasi" multiple required>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column d-lg-block text-start text-lg-center">
            <button type="reset" id="reset" class="btn btn-danger mt-3">
              Clear
            </button>
            <button type="submit" class="btn btn-success mt-3">Selanjutnya</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ======================================================================================== -->
<!-- ======================================================================================== -->
<div class="modal fade" id="mayor" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bolder">Tenaga Kependidikan - Mayor</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/upik3/kuesioner" method="POST" spellcheck="false" autocomplete="off" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12">
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                  <label for="tanggalKejadian" class="form-label"
                    >Tanggal Kejadian Korban</label
                  >
                  <div class="input-group border-0 datepicker">
                    <input
                      type="text"
                      id="tanggalKejadian"
                      class="form-control border-0"
                      name="tanggalKejadian"
                      required
                      title="Harap isi form ini"
                      data-input
                    />
                    <span class="input-group-text border-0" data-toggle>
                      <i class="far fa-calendar"></i>
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
                  <label for="namaKorban" class="form-label">Nama Korban</label>
                  <input
                    type="text"
                    class="form-control"
                    id="namaKorban"
                    name="namaKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="alamatKorban" class="form-label">Alamat Korban</label>
                  <input
                    type="text"
                    class="form-control"
                    id="alamatKorban"
                    name="alamatKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="noTelp" class="form-label">Nomor Telepon</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="noTelp"
                    name="noTelp"
                    pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}"
                    required
                    placeholder="XXXX-XXXX-XXXX"
                    title="Harap isi form ini"
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="jabatanKorban" class="form-label">Jabatan</label>
                  <input
                    type="text"
                    class="form-control"
                    id="jabatanKorban"
                    name="jabatanKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="nipKorban" class="form-label">NIP</label>
                  <input
                    type="number"
                    class="form-control"
                    id="nipKorban"
                    name="nipKorban"
                    title="Harap isi form ini"
                    required
                  />
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-12 d-flex flex-column mb-3 mb-sm-1">
                  <label for="tempatKecelakaan" class="form-label">Tempat Kecelakaan</label>
                  <select class="form-select" name="tempatKecelakaan" id="tempatKecelakaan" title="Harap isi form ini" required>
                    <option class="d-none">Silahkan dipilih</option>
                    <% for( const tempat of foundTempat ) { %>
                      <option value="<%= tempat.nama %>"><%= tempat.nama %></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="bagaimana" class="form-label"
                    >Kronologi kecelakaan</label
                  >
                  <textarea
                    name="bagaimanaKecelakaanTerjadi"
                    id="bagaimana"
                    rows="2"
                    class="form-control"
                    required
                    title="Harap isi form ini"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="jenispekerjaan" class="form-label"
                    >Jenis pekerjaan waktu kecelakaan</label
                  >
                  <textarea
                    name="jenisPekerjaanWaktuKecelakaan"
                    id="jenispekerjaan"
                    rows="2"
                    class="form-control"
                    required
                    title="Harap isi form ini"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="saksiYangMelihatKecelakaan" class="form-label"
                    >Saksi yang melihat kecelakaan?</label
                  >
                  <textarea
                    name="saksiYangMelihatKecelakaan"
                    id="saksiYangMelihatKecelakaan"
                    rows="2"
                    class="form-control"
                    required
                    title="Harap isi form ini"
                  ></textarea>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="penyebabKecelakaan" class="form-label"
                    >Penyebab kecelakaan</label
                  >
                  <select
                    name="penyebabKecelakaan"
                    id="penyebabKecelakaan"
                    class="form-select"
                    required
                    title="Harap isi form ini"
                  >
                    <option class="d-none" selected>Silahkan Pilih</option>
                    <option value="mesin">Mesin</option>
                    <option value="pesawatInstalasi">Pesawat Instalasi</option>
                    <option value="alatProses">Alat Proses</option>
                    <option value="caraKerja">Cara Kerja</option>
                    <option value="bahan">Bahan</option>
                    <option value="lingkungan">Lingkungan</option>
                  </select>
                </div>
                <div class="col-sm-6 d-flex flex-column mb-3 mb-sm-1">
                  <label for="penyakitAkibatKerja" class="form-label"
                    >Penyebab penyakit akibat kerja</label
                  >
                  <select
                    name="penyakitAkibatKerja"
                    id="penyakitAkibatKerja"
                    class="form-select"
                    title="Harap isi form ini"
                    required
                  >
                    <option selected class="d-none">Silahkan pilih</option>
                    <option value="bahan">Bahan</option>
                    <option value="proses">Proses</option>
                    <option value="lingkungan">Lingkungan</option>
                    <option value="caraKerja">Cara Kerja</option>
                    <option value="sifatPekerjaan">Sifat Pekerjaan</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-12 d-flex flex-column mb-3 mb-sm-1">
                  <label for="berobatJalan" class="form-label"
                    >Berobat jalan</label
                  >
                  <select
                    name="berobatJalan"
                    id="berobatJalan"
                    class="form-select"
                    required
                    title="Harap isi form ini"
                  >
                    <option selected class="d-none">Silahkan pilih</option>
                    <option value="bekerja">Sambil Bekerja</option>
                    <option value="tidakBekerja">Tidak Bekerja</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label for="perkiraanKerugian" class="form-label"
                    >Perkiraan Kerugian</label
                  >
                  <div id="perkiraanKerugian" class="row">
                    <div class="col-sm-6">
                      <label for="kerugianWaktuMayor" class="form-label">A. Waktu</label>
                      <div class="input-group mb-3">
                        <input
                        id="kerugianWaktuMayor"
                          type="number"
                          min="0"
                          class="form-control"
                          name="kerugianWaktu"
                          required
                          title="Harap isi form ini"
                          placeholder="waktu"
                        />
                        <span class="input-group-text">Jam</span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="kerugianMaterialMayor" class="form-label">B. Material</label>
                      <input
                        type="text"
                        id="kerugianMaterialMayor"
                        class="form-control"
                        required
                        placeholder="Material"
                        name="kerugianMaterial"
                        title="Harap isi form ini"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="d-flex flex-column mb-3 mb-sm-1">
                  <label class="form-label mb-2 text-justify"
                    >Pemulihan Tenaga Kependidikan yang sakit (diisi di tempat
                    pemeriksaan atas kordinasi dengan petugas pemeriksa
                    setempat) :</label
                  >

                  <div>
                    <label " class="form-label"
                      >Dirawat dimana, beserta alamat</label
                    >
                    <div class="row mb-3">
                      <div class="col-sm-4">
                        <select class="form-select mb-1" name="jenisLokasiRawat" title="Harap isi form ini">
                          <option selected class="d-none">Pilih jenis tempat</option>
                          <option value="rumahSakit">Rumah Sakit</option>
                          <option value="puskesmas">Puskesmas</option>
                          <option value="poliklinik">Poliklinik</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <input
                          type="text"
                          name="namaLokasiRawat"
                          class="form-control mb-1"
                          required
                          placeholder="nama tempat"
                          title="Harap isi form ini"
                        />
                      </div>
                      <div class="col-sm-4">
                        <input
                          type="text"
                          name="alamatLokasiRawat"
                          class="form-control"
                          required
                          placeholder="alamat perawatan"
                          title="Harap isi form ini"
                        />
                      </div>
                    </div>
                  </div>
                  <div>
                    <label  class="form-label"
                      >Nama dan alamat dokter/tenaga medik yang memberikan
                      pertolongan pertama</label
                    >
                    <div class="row mb-3">
                      <div class="col-sm-6">
                        <input
                          type="text"
                          name="namaDokter"
                          class="form-control mb-1"
                          required
                          placeholder="nama dokter"
                        />
                      </div>
                      <div class="col-sm-6">
                        <input
                          type="text"
                          name="alamatDokter"
                          class="form-control"
                          required
                          placeholder="alamat dokter"
                        />
                      </div>
                    </div>
                  </div>
                  <div>
                    <label id="jenisObat"  class="form-label">Nama/jenis obat apa saja yang digunakan saat proses pengobatan</label>
                    <input type="text" name="jenisObat" class="form-control" id="jenisObat" required placeholder="jenis obat">
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="alatEvakuasi1" class="form-label">Alat evakuasi apa saja yang digunakan</label>
                <select name="alatEvakuasi1" class="form-select mb-2" id="alatEvakuasi1" required>
                  <option class="d-none" selected>Pilih alat</option>
                  <option value="Tandu">Tandu</option>
                  <option value="Kursi Roda">Kursi Roda</option>
                </select>
                <select name="alatEvakuasi2" class="form-select" id="alatEvakuasi2">
                  <option class="d-none" selected>Pilih alat</option>
                  <option value="Tandu">Tandu</option>
                  <option value="Kursi Roda">Kursi Roda</option>
                </select>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-4 mb-2">
                  <label for="namaSaksi" class="form-label">Nama saksi yang mengisi form kecelakaan</label>
                  <input type="text" value="<%= currentUser.nama %>" readonly name="namaSaksi" id="namaSaksi" class="form-control" required>
                </div>
                <div class="col-sm-4 mb-2">
                  <label for="jabatanSaksi" class="form-label">Jabatan</label>          
                  <input type="text" value="<%= currentUser.status %>" readonly name="jabatanSaksi" id="jabatanSaksi" class="form-control" required>
                </div>
                <div class="col-sm-4">
                  <label for="nikSaksi" class="form-label">NRP/NIP</label>
                  <input type="number"readonly value="<%= currentUser.nip %>" name="nikSaksi" id="nikSaksi" class="form-control" required>
                </div>
              </div>
              <input class="d-none"type="text" readonly required name="jenis" value="pelaporan-kependidikan">
              <input class="d-none"type="text" readonly required name="jenisTurunan" value="Tenaga Kependidikan-Mayor">
              <div class="mb-3 row">
                <div class="col-12">
                  <label for="dokumentasi" class="form-label">Dokumentasi <br><small class="fst-italic fw-light">*harus memasukkan 3 foto</small></label>
                  <input type="file" id="dokumentasi" class="dokumentasi" name="dokumentasi" multiple required>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column d-lg-block text-start text-lg-center">
            <button type="reset" id="reset" class="btn btn-danger mt-3">
              Clear
            </button>
            <button type="submit" class="btn btn-success mt-3">Selanjutnya</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ======================================================================================== -->
<!-- ======================================================================================== -->

<div class="card shadow mx-3 mt-3">
  <div class="card-header">
    <h3 class="card-title fw-bolder my-3">
      Pelaporan Kecelakaan - Tenaga Kependidikan
    </h3>
  </div>
  <div class="card-body py-3">
    <p class="text-justify mb-1">
      Sebelum pengisian form data kecelakaan, akan muncul prosedur investigasi
      kecelakaan dan prosedur pemulihan mahasiswa atau tenaga kependidikan yang
      sakit. Berikut ini adalah prosedur investigasi kecelakaan :
    </p>
    <ul class="mb-3">
      <li>
        Saksi melaporkan adanya insiden kecelakaan di bengkel/lab. PPNS dengan
        mengisi form pelaporan kecelakaan PPNS sampai nomor 13.
      </li>
      <li>
        Saksi memastikan korban tergolong sebagai korban kecelakaan minor/mayor.
      </li>
      <li>Saksi segera membawa dan mendampingi korban ke tempat pemeriksaan</li>
    </ul>
    <p class="text-justify mb-1">
      Berikut ini adalah prosedur pemulihan mahasiswa atau tenaga kependidikan
      yang sakit:
    </p>
    <ul class="mb-3">
      <li>
        Setelah saksi membawa korban ke tempat pemeriksaan, saksi berkordinasi
        dengan petugas pemeriksa setempat untuk mengisi form pelaporan
        kecelakaan nomor 14, yaitu bagian Pemulihan Mahasiswa/Tenaga
        Kependidikan yang Sakit.
      </li>
      <li>
        Saksi mengisi form pelaporan kecelakaan sampai selesai dan mengirimkan
        data pelaporan kecelakaan.
      </li>
    </ul>
    <p class="text-justify">
      Kemudian akan ada opsi form kecelakaan (Korban kecelakaan termasuk korban
      yang bersifat minor/Korban kecelakaan termasuk korban yang bersifat
      mayor).
    </p>
    <p class="text-justify">
      Dalam Investigasi Kecelakaan yang terjadi di bengkel/lab. PPNS korban
      kecelakaan digolongkan menjadi 2, yaitu korban kecelakaan yang bersifat
      minor dan korban kecelakaan yang bersifat mayor.
    </p>
    <ul>
      <li>
        Korban kecelakaan dapat dikatakan sebagai korban kecelakaan minor jika
        korban tidak mengalami akibat yang serius.
      </li>
      <li>
        Sedangkan korban kecelakaan dapat dikatakan sebagai korbaan kecelakaan
        mayor ketika korban kecelakaan mengalami akibat yang serius dan
        membutuhkan alat evakuasi dalam menuju tempat pemeriksaan.
      </li>
    </ul>

    <p>Dalam kasus ini, korban kecelakaan termasuk korban yang bersifat :</p>
    <div class="d-flex flex-column flex-md-row">
      <button
        class="btn btn-success m-1"
        data-bs-toggle="modal"
        data-bs-target="#minor"
      >
        Minor
      </button>
      <button 
        class="btn btn-primary m-1"
        data-bs-toggle="modal"
        data-bs-target="#mayor">Mayor</button>
    </div>
  </div>
</div>
<%- include("templateP3k/footer") %>
