<%- include("templateInspeksi/head") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm h-100 pb-5">
        <div class="card-body">
          <h3 class="card-title fw-bolder fs-3 mb-4 d-flex align-items-center">
            Form Inspeksi
          </h3>
          <%- include("../flash") %>
          <form
            action="/inspeksi"
            method="POST"
            spellcheck="false"
            autocomplete="off"
            enctype="multipart/form-data"
            novalidate
          >
            <!-- ======================================MODAL============================================================================ -->
            <div class="modal fade" id="iklimkerja" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      FORM IKLIM KERJA
                    </h5>
                    <button
                      class="btn btn-primary"
                      id="tombolTambahIklimKerja"
                      type="button"
                    >
                      Tambah Iklim Kerja
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="align-middle text-center min-width-100">
                              Usia
                            </th>
                            <th class="align-middle text-center min-width-100">
                              BB
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Lokasi Pengukuran
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Suhu Basah (<span>&#176;</span>C)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Suhu Kering (<span>&#176;</span>C)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Suhu Bola (<span>&#176;</span>C)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              WGBT(ISBB) (<span>&#176;</span>C)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              RH (%)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Beban Kerja
                            </th>
                          </tr>
                        </thead>
                        <tbody id="wadahFormIklimKerja"></tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="getaran" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">FORM GETARAN</h5>
                    <button
                      class="btn btn-primary"
                      id="tombolTambahGetaran"
                      type="button"
                    >
                      Tambah Getaran
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="align-middle text-center min-width-100">
                              No
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Sumber Getaran
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Percepatan (A)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Kecepatan (cm/s)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Perpindahan (mm)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Frekuensi (Hz)
                            </th>
                          </tr>
                        </thead>
                        <tbody id="wadahFormGetaran"></tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- =============================================================================================================== -->
            <div class="modal fade" id="kebisingan" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header flex-column flex-sm-row">
                    <h5 class="modal-title">FORM KEBISINGAN</h5>
                    <button
                      class="btn btn-primary"
                      id="tombolTambahKebisingan"
                      type="button"
                    >
                      Tambah Kebisingan
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="align-middle text-center min-width-100">
                              Lokasi
                            </th>
                            <th
                              class="align-middle text-center min-width-100"
                              colspan="3"
                            >
                              Intensitas Bising
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Rata-Rata
                            </th>
                          </tr>
                        </thead>
                        <tbody id="wadahFormKebisingan"></tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="pencahayaan" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">FORM PENCAHAYAAN</h5>
                    <button
                      class="btn btn-primary"
                      id="tombolTambahPencahayaan"
                      type="button"
                    >
                      Tambah Pencahayaan
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="pencahayaanPanjang" class="form-label"
                        >Panjang</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="pencahayaanPanjang"
                        id="pencahayaanPanjang"
                        value="0"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="pencahayaanLebar" class="form-label"
                        >Lebar</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="pencahayaanLebar"
                        id="pencahayaanLebar"
                        value="0"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="pencahayaanTinggi" class="form-label"
                        >Tinggi</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="pencahayaanTinggi"
                        id="pencahayaanTinggi"
                        value="0"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="pencahayaanJenisPencahayaan"
                        class="form-label"
                        >Jenis Pencahayaan</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="pencahayaanJenisPencahayaan"
                        id="pencahayaanJenisPencahayaan"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="pencahayaanJumlahPencahayaan"
                        class="form-label"
                        >Jumlah Pencahayaan</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="pencahayaanJumlahPencahayaan"
                        id="pencahayaanJumlahPencahayaan"
                        value="0"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="pencahayaanJumlahPencahayaanRusak"
                        class="form-label"
                        >Jumlah Pencahayaan Rusak</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="pencahayaanJumlahPencahayaanRusak"
                        id="pencahayaanJumlahPencahayaanRusak"
                        value="0"
                      />
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="align-middle text-center min-width-100">
                              Sumber Pencahayaan
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Pengukuran 1
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Pengukuran 2
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Pengukuran 3
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Rata-rata
                            </th>
                          </tr>
                        </thead>
                        <tbody id="wadahFormPencahayaan">
                          <tr id="tableRowRatarata">
                            <th class="text-center align-middle" colspan="4">
                              Total rata-rata
                            </th>
                            <td>
                              <input
                                type="text"
                                name="totalratarata"
                                id="totalratarata"
                                class="form-control"
                                value="0"
                                readonly
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="ventilasi" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">FORM VENTILASI</h5>
                    <button
                      class="btn btn-primary"
                      id="tombolTambahVentilasi"
                      type="button"
                    >
                      Tambah Ventilasi
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="ventilasiRuangan" class="form-label"
                        >Ruangan</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        name="ventilasiRuangan"
                        id="ventilasiRuangan"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="ventilasiPanjang" class="form-label"
                        >Panjang</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="ventilasiPanjang"
                        id="ventilasiPanjang"
                        value="0"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="ventilasiLebar" class="form-label"
                        >Lebar</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="ventilasiLebar"
                        id="ventilasiLebar"
                        value="0"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="ventilasiTinggi" class="form-label"
                        >Tinggi</label
                      >
                      <input
                        type="number"
                        class="form-control"
                        name="ventilasiTinggi"
                        id="ventilasiTinggi"
                        value="0"
                      />
                    </div>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="align-middle text-center min-width-100">
                              Jenis Ventilasi
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Panjang Ventilasi (m)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Lebar Ventilasi (m)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              V(m/s)
                            </th>
                            <th class="align-middle text-center min-width-100">
                              Jumlah Pekerja
                            </th>
                          </tr>
                        </thead>
                        <tbody id="wadahFormVentilasi"></tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="panduanGetaran" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Panduan Pengukuran Getaran</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <h5>
                        Panduan Melakukan Pengukuran Lingkungan Kerja Getaran
                      </h5>
                      <ul>
                        <li>
                          Siapkan alat pengukur kebisingan (Vibrationmeter)
                        </li>
                        <li>
                          Lihat layout yang berada pada sistem informasi
                          pengukuran lingkungan kerja
                        </li>
                        <li>
                          <span class="me-2"
                            ><img
                              src="/img/logoTitik/getaran.jpg"
                              height="20px"
                              alt="" /></span
                          >adalah simbol titik getaran berada, dan pengukuran
                          lingkungan kerja di lakukan pada titik tersebut
                        </li>
                        <li>
                          Masukkan rekomendasi pada kotak rekomendasi jika ada
                          kekurangan atau hal yang harus diperbaiki
                        </li>
                        <li>
                          Titik pengukuran bisa berubah sesuai dengan potensi
                          bahaya kebisingan di tempat kerja
                        </li>
                        <li>
                          Jika Pengukuran lingkungan kerja getaran sudah selesai
                          di lakukan, submit data pengukuran lingkungan kerja
                          agar data terekam oleh sistem informasi
                        </li>
                        <li>
                          Cek pada menu riwayat inspeksi apakah data pengukuran
                          sudah terekam
                        </li>
                      </ul>
                    </div>
                    <div class="mb-3">
                      <h5 class="mb-3">Cara Mengoperasikan VibrationMeter</h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <img
                            src="/img/alatPengukuran/vMeter.jpg"
                            alt="Vibration Meter"
                            class="img-fluid w-100"
                          />
                        </div>
                        <div class="col-sm-6">
                          <ul>
                            <li>
                              Nyalakan alat dengan menekan tombol power pada
                              vibrationmeter
                            </li>
                            <li>
                              Tempelkan sensor magnet pada vibrationmeter pada
                              sumber getaran
                            </li>
                            <li>
                              Tekan tombol tengah (<span
                                ><img
                                  src="/img/logoTitik/tombolTengah.jpg"
                                  height="20px"
                                  alt="" /></span
                              >) pada vibrationmeter, lalu Biarkan selama 3
                              detik lalu tekan lagi tombol di tengah (<span
                                ><img
                                  src="/img/logoTitik/tombolTengah.jpg"
                                  height="20px"
                                  alt="" /></span
                              >) vibrationmeter tersebut
                            </li>
                            <li>
                              Lalu tekan tombol enter di vibrationmeter, maka
                              akan muncul grafik pada vibrationmeter lalu catat
                              pada sistem informasi pengukuran lingkungan kerja.
                            </li>
                            <li>
                              Ambil data sebanyak 3 kali agar mendapat hasil
                              yang akurat.
                            </li>
                            <li>
                              Jika proses pengukuran sudah selesai, tekan submit
                              pada sistem informasi pengukuran lingkungan kerja
                              agar data terekam oleh sistem informasi
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="panduanKebisingan" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Panduan Pengukuran Kebisingan</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <h5>
                        Panduan Melakukan pengukuran lingkungan kerja Kebisingan
                      </h5>
                      <ul>
                        <li>
                          Siapkan alat pengukur kebisingan (Sound Level Meter)
                        </li>
                        <li>
                          Lihat layout yang berada pada sistem informasi
                          pengukuran lingkungan kerja
                        </li>
                        <li>
                          <span class="me-2"
                            ><img
                              src="/img/logoTitik/kebisingan.jpg"
                              height="20px"
                              alt="" /></span
                          >adalah simbol titik kebisingan berada, dan pengukuran
                          lingkungan kerja di lakukan pada titik tersebut
                        </li>
                        <li>
                          Masukkan rekomendasi pada kotak rekomendasi jika ada
                          kekurangan atau hal yang harus diperbaiki
                        </li>
                        <li>
                          Titik pengukuran bisa berubah sesuai dengan potensi
                          bahaya kebisingan di tempat kerja
                        </li>
                        <li>
                          Jika Pengukuran lingkungan kerja kebisingan sudah
                          selesai di lakukan, submit data pengukuran lingkungan
                          kerja agar data terekam oleh sistem informasi
                        </li>
                        <li>
                          Cek pada menu riwayat inspeksi apakah data pengukuran
                          sudah terekam
                        </li>
                      </ul>
                    </div>
                    <div class="mb-3">
                      <h5 class="mb-3">
                        Cara Mengoperasikan Sound Level Meter
                      </h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <img
                            src="/img/alatPengukuran/SLmeter.jpg"
                            alt="Sound Level Meter"
                            class="img-fluid w-100"
                          />
                        </div>
                        <div class="col-sm-6">
                          <ul>
                            <li>
                              Nyalakan alat dengan menekan tombol power pada
                              sound level meter
                            </li>
                            <li>
                              Dekatkan sensor kebisingan yang berbentuk seperti
                              microphone pada sumber kebisingan
                            </li>
                            <li>
                              Biarkan selama 3 detik lalu tekan hold pada sound
                              level meter, lalu inputkan pada sistem informasi
                              pengukuran lingkungan kerja
                            </li>
                            <li>
                              Ambil data sebanyak 3 kali agar mendapat hasil
                              yang akurat
                            </li>
                            <li>
                              Jika proses pengukuran sudah selesai, tekan submit
                              pada sistem informasi pengukuran lingkungan kerja
                              agar data terekam oleh sistem informasi
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="panduanVentilasi" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Panduan Pengukuran Ventilasi</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <h5>
                        Panduan Melakukan pengukuran lingkungan kerja Ventilasi
                      </h5>
                      <ul>
                        <li>Siapkan alat pengukur ventilasi (Anemometer)</li>
                        <li>
                          Lihat layout yang berada pada sistem informasi
                          pengukuran lingkungan kerja
                        </li>
                        <li>
                          <span class="me-2"
                            ><img
                              src="/img/logoTitik/ventilasi.jpg"
                              height="20px"
                              alt="" /></span
                          >adalah simbol titik ventilasi yang akan di ukur, dan
                          pengukuran lingkungan kerja di lakukan pada titik
                          tersebut.
                        </li>
                        <li>
                          Masukkan rekomendasi pada kotak rekomendasi jika ada
                          kekurangan atau hal yang harus diperbaiki
                        </li>
                        <li>
                          Titik pengukuran bisa berubah sesuai dengan potensi
                          bahaya kebisingan di tempat kerja
                        </li>
                        <li>
                          Jika Pengukuran lingkungan kerja ventilasi sudah
                          selesai di lakukan, submit data pengukuran lingkungan
                          kerja agar data terekam oleh sistem informasi
                        </li>
                        <li>
                          Cek pada menu riwayat inspeksi apakah data pengukuran
                          sudah terekam
                        </li>
                      </ul>
                    </div>
                    <div class="mb-3">
                      <h5 class="mb-3">Cara Mengoperasikan Anemometer</h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <img
                            src="/img/alatPengukuran/aMeter.jpg"
                            alt="Vibration Meter"
                            class="img-fluid w-100"
                          />
                        </div>
                        <div class="col-sm-6">
                          <ul>
                            <li>
                              Nyalakan alat dengan menekan tombol power pada
                              anemometer
                            </li>
                            <li>
                              Dekatkan sensor anemometer yang berbentuk seperti
                              kipas pada ventilasi
                            </li>
                            <li>
                              Biarkan selama 3 detik lalu tekan hold pada
                              anemometer, lalu inputkan pada sistem informasi
                              pengukuran lingkungan kerja
                            </li>
                            <li>
                              Ambil data sebanyak 3 kali agar mendapat hasil
                              yang akurat
                            </li>
                            <li>
                              Jika proses pengukuran sudah selesai, tekan submit
                              pada sistem informasi pengukuran lingkungan kerja
                              agar data terekam oleh sistem informasi
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="panduanPencahayaan" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Panduan Pengukuran Pencahayaan</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <h5>
                        Panduan Melakukan pengukuran lingkungan kerja
                        pencahayaan
                      </h5>
                      <ul>
                        <li>Siapkan alat pengukur pencahayaan (luxmeter)</li>
                        <li>
                          Lihat layout yang berada pada sistem informasi
                          pengukuran lingkungan kerja
                        </li>
                        <li>
                          <span class="me-2"
                            ><img
                              src="/img/logoTitik/pencahayaan.jpg"
                              height="20px"
                              alt="" /></span
                          >adalah simbol titik pencahayaan yang akan di ukur,
                          dan pengukuran lingkungan kerja di lakukan pada titik
                          tersebut.
                        </li>
                        <li>
                          Masukkan rekomendasi pada kotak rekomendasi jika ada
                          kekurangan atau hal yang harus diperbaiki
                        </li>
                        <li>
                          Titik pengukuran bisa berubah sesuai dengan potensi
                          bahaya kebisingan di tempat kerja
                        </li>
                        <li>
                          Jika Pengukuran lingkungan kerja pencahayaan sudah
                          selesai di lakukan, submit data pengukuran lingkungan
                          kerja agar data terekam oleh sistem informasi
                        </li>
                        <li>
                          Cek pada menu riwayat inspeksi apakah data pengukuran
                          sudah terekam
                        </li>
                      </ul>
                    </div>
                    <div class="mb-3">
                      <h5 class="mb-3">Cara Mengoperasikan Luxmeter</h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <img
                            src="/img/alatPengukuran/lMeter.jpg"
                            alt="Vibration Meter"
                            class="img-fluid w-100"
                          />
                        </div>
                        <div class="col-sm-6">
                          <ul>
                            <li>
                              Nyalakan alat dengan menekan tombol power pada
                              luxmeter
                            </li>
                            <li>
                              Dekatkan sensor luxmeter pada sumber pencahayaan
                            </li>
                            <li>
                              Biarkan selama 3 detik lalu tekan hold pada
                              luxmeter, lalu inputkan pada sistem informasi
                              pengukuran lingkungan kerja
                            </li>
                            <li>
                              Ambil data sebanyak 3 kali agar mendapat hasil
                              yang akurat
                            </li>
                            <li>
                              Jika proses pengukuran sudah selesai, tekan submit
                              pada sistem informasi pengukuran lingkungan kerja
                              agar data terekam oleh sistem informasi
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------- -->
            <div class="modal fade" id="panduanIklimKerja" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Panduan Pengukuran Iklim Kerja</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3">
                      <h5>
                        Panduan Melakukan pengukuran lingkungan kerja iklim
                        kerja
                      </h5>
                      <ul>
                        <li>
                          Siapkan alat pengukur iklim kerja (Wet Bulb Globe
                          Temperature)
                        </li>
                        <li>
                          Lihat layout yang berada pada sistem informasi
                          pengukuran lingkungan kerja
                        </li>
                        <li>
                          <span class="me-2"
                            ><img
                              src="/img/logoTitik/iklimKerja.jpg"
                              height="20px"
                              alt="" /></span
                          >adalah simbol titik iklim kerja yang akan di ukur,
                          dan pengukuran lingkungan kerja di lakukan pada titik
                          tersebut.
                        </li>
                        <li>
                          Masukkan rekomendasi pada kotak rekomendasi jika ada
                          kekurangan atau hal yang harus diperbaiki
                        </li>
                        <li>
                          Titik pengukuran bisa berubah sesuai dengan potensi
                          bahaya kebisingan di tempat kerja
                        </li>
                        <li>
                          Jika Pengukuran lingkungan kerja iklim kerja sudah
                          selesai di lakukan, submit data pengukuran lingkungan
                          kerja agar data terekam oleh sistem informasi
                        </li>
                        <li>
                          Cek pada menu riwayat inspeksi apakah data pengukuran
                          sudah terekam
                        </li>
                      </ul>
                    </div>
                    <div class="mb-3">
                      <h5 class="mb-3">
                        Cara Mengoperasikan Wet Bulb Globe Temperature
                      </h5>
                      <div class="row">
                        <div class="col-sm-6">
                          <img
                            src="/img/alatPengukuran/wbgt.jpg"
                            alt="Vibration Meter"
                            class="img-fluid w-100"
                          />
                        </div>
                        <div class="col-sm-6">
                          <ul>
                            <li>
                              Isi bagian tengah (suhu basah) pada WBGT dengan
                              air sedikit saja
                            </li>
                            <li>
                              Dekatkan WBGT di tengah-tengah lingkungan para
                              pekerja
                            </li>
                            <li>
                              Biarkan selama 3 detik lalu tekan hold pada WBGT,
                              lalu inputkan pada sistem informasi pengukuran
                              lingkungan kerja
                            </li>
                            <li>
                              Ambil data sebanyak 3 kali agar mendapat hasil
                              yang akurat
                            </li>
                            <li>
                              Jika proses pengukuran sudah selesai, tekan submit
                              pada sistem informasi pengukuran lingkungan kerja
                              agar data terekam oleh sistem informasi
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- =====================================MODAL===================================================================== -->
            <div>
              <div class="mb-3">
                <label for="namaPengukur" class="form-label"
                  >Nama Pengukur</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="namaPengukur"
                  name="namaPengukur"
                />
              </div>
              <div class="mb-3">
                <label for="lokasi" class="form-label"
                  >Lokasi Pengukuran
                </label>
                <select
                  class="form-select select2"
                  id="lokasiPengukuran"
                  name="lokasiPengukuran"
                  aria-label="Default select example"
                >
                  <option></option>
                  <% for (const tempat of tempats) { %>
                  <option value="<%= tempat.nama %>"><%= tempat.nama %></option>
                  <% } %>
                </select>
              </div>
              <div class="mb-3">
                <label for="dokumentasiPengukuran" class="form-label"
                  >Dokumentasi</label
                >
                <input
                  class="form-control file-input"
                  type="file"
                  id="dokumentasiPengukuran"
                  name="dokumentasiPengukuran"
                  multiple
                />
              </div>
              <div class="mb-3">
                <div class="row justify-content-center">
                  <div class="col-sm-8 d-flex justify-content-center">
                    <img src="" class="img-fluid denah" alt="" />
                  </div>
                  <div class="col-sm-4 d-flex align-items-center">
                    <img src="" class="img-fluid keterangan" alt="" />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div
                  class="col-lg-6 mb-3 d-flex flex-column"
                  id="wrapper-kebisingan"
                >
                  <label class="form-label"
                    >Kebisingan<a
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#panduanKebisingan"
                      class="ms-1 far fa-question-circle"
                    ></a
                  ></label>
                  <a
                    href="#"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#kebisingan"
                    >FORM KEBISINGAN</a
                  >
                </div>
                <div
                  class="col-lg-6 mb-3 d-flex flex-column"
                  id="wrapper-getaran"
                >
                  <label class="form-label"
                    >Getaran
                    <a
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#panduanGetaran"
                      class="ms-1 far fa-question-circle"
                    ></a
                  ></label>
                  <a
                    href="#"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#getaran"
                    >FORM GETARAN</a
                  >
                </div>
                <div
                  class="col-lg-6 mb-3 d-flex flex-column"
                  id="wrapper-ventilasi"
                >
                  <label class="form-label"
                    >Ventilasi<a
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#panduanVentilasi"
                      class="ms-1 far fa-question-circle"
                    ></a
                  ></label>
                  <a
                    href="#"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#ventilasi"
                    >FORM VENTILASI</a
                  >
                </div>
                <div
                  class="col-lg-6 mb-3 d-flex flex-column"
                  id="wrapper-pencahayaan"
                >
                  <label class="form-label"
                    >Pencahayaan<a
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#panduanPencahayaan"
                      class="ms-1 far fa-question-circle"
                    ></a
                  ></label>
                  <a
                    href="#"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#pencahayaan"
                    >FORM PENCAHAYAAN</a
                  >
                </div>
                <div
                  class="col-lg-6 mb-3 d-flex flex-column"
                  id="wrapper-iklimkerja"
                >
                  <label class="form-label"
                    >Iklim Kerja<a
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#panduanIklimKerja"
                      class="ms-1 far fa-question-circle"
                    ></a
                  ></label>
                  <a
                    href="#"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#iklimkerja"
                    >FORM IKLIM KERJA</a
                  >
                </div>
              </div>
              <div class="mb-3">
                <label for="rekomendasiPengukuran" class="form-label"
                  >Rekomendasi</label
                >
                <textarea
                  name="rekomendasiPengukuran"
                  id="rekomendasiPengukuran"
                  class="form-control"
                  rows="3"
                ></textarea>
              </div>
            </div>
            <input
              type="number"
              id="jumlahTitikIklimKerja"
              name="jumlahTitikIklimKerja"
              readonly
              value="0"
              class="d-none"
            />
            <input
              type="number"
              id="jumlahTitikGetaran"
              name="jumlahTitikGetaran"
              value="0"
              readonly
              class="d-none"
            />
            <input
              type="number"
              id="jumlahTitikKebisingan"
              name="jumlahTitikKebisingan"
              value="0"
              readonly
              class="d-none"
            />
            <input
              type="number"
              id="jumlahTitikPencahayaan"
              name="jumlahTitikPencahayaan"
              value="0"
              readonly
              class="d-none"
            />
            <input
              type="number"
              id="jumlahTitikVentilasi"
              name="jumlahTitikVentilasi"
              value="0"
              readonly
              class="d-none"
            />
            <button id="tombolReset" type="reset" class="btn btn-danger">
              Clear
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("templateInspeksi/footer") %>
